@{
    ViewData["Title"] = "Index";

}
<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
</style>
<div id="carouselExampleControls" class="carousel slide" style="margin-top:50px;" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/mezun.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/mezun2.png" style="max-width:1250px;height:360px;" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Önceki</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Sonraki</span>
    </a>
</div>
<div class="jumbotron" style="margin-top:25px;">
    <h3 class="text-primary text-center">Etkili Cv Hazırlama</h3>
    <hr class="my-4">
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <ul>
                <li>   A4 kağıda yazmalısın.</li>
                <li> Özgeçmişin en fazla 2 sayfa olmalı. (Akademik CV daha uzun olabilir.)</li>
                <li> Uzun paragraflardan kaçınmalısın. (CV incelemelerine en fazla 1-3 dakika süre ayrılıyor)</li>
                <li>  Birinci ya da üçüncü tekil kişi ağzıyla yazmalısın. </li>
                <li> Genellikle “Times New Roman” veya “Arial” gibi kolay okunabilen karakterler kullanmalı, 11 ya da 12 punto ile yazmalısın.</li>
                <li> Kelime ve cümlelerin altını çizmemelisin. (İnternet adresleri hariç)</li>
                <li> İmla kurallarına dikkat etmelisin.</li>
                <li>Başvurduğun pozisyona uygun bir ön yazı hazırlamalısın. Genel başvuru yapıyorsan, ön yazında hangi alanda çalışmak istediğinizi belirtmelisin.</li>
                <li>Ters kronolojik sıra takip etmelisin.</li>
                <li> Gereksiz bilgiler eklemekten kaçının.</li>
                <li> Takım elbiseli çekilmiş fotoğraflar eklemelisin.</li>
                <li>Silik, bulanık, arka planı karışık fotoğraflar eklememelisin.</li>
            </ul>
        </div>
    </div>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Oku...
        </a>
    </p>

</div>
<div class="jumbotron mb-5">
    <h3 class="text-primary text-center">Mülakatta Yapılması gerekenler</h3>
    <hr class="my-4">
    <div class="collapse" id="collapseExample1">
        <div class="card card-body">
            <ul>
                <li>Mülakat yerinin açık, ayrıntılı yol tarifini aldığınızdan emin olun.</li>
                <li>Bölgenin yabancısıysanız nasıl ve ne kadar zamanda gideceğinizi bilmeniz önemlidir.</li>
                <li>İş görüşmesine uygun giyinin. </li>
                <li>Karşı tarafa güven verecek şekilde davranın. </li>
                <li>Soruları dürüstçe ve tereddüt etmeden yanıtlayın. </li>
                <li>İçten davranın. </li>
                <li>İşverenin bakış açısıyla konuşun ve şirket için neler yapabileceğinizden bahsedin. </li>
                <li>Mülakat öncesi şirket hakkında internet'ten, gazetelerden vs. araştırma yapın. </li>
                <li>Kiminle görüşeceğinizden haberdar olun (adı, unvanı vs.) </li>
                <li>CV'nizdeki bilgilere hakim olun. </li>
                <li>Gülümseyin, kuvvetli tokalaşın ve göz teması kurun. </li>
                <li>Anlaşılır ve akıcı konuşun ama hızlı konuşmayın.</li>
                <li>Karşınızdakini dikkatle dinleyin. </li>
                <li>Daima profesyonel bir görüntü verin. </li>
                <li>Şirketle ilgilendiğinizi ve işi istediğinizi belirtin.</li>
                <li>İşe hemen başlayabileceğinizi belirtin (eğer mümkünse).</li>
            </ul>
        </div>
    </div>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
            Oku...
        </a>
    </p>

</div>

