@using GraduateStudent.Dal.Constant;
@model Student
@{
    var password = TempData["password"] as string;
}
<h2 class="text-primary text-center mt-5">Şifremi Unuttum</h2>
<form asp-action="PasswordForgot" asp-controller="Account" method="post" class="mt-5">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <label class="ml-3 font-weight-bold">Öğrenci No:</label>

            </div>
            <div class="col-md-11">
                <input type="text" class="form-control" maxlength="15" asp-for="SchoolNumber" required />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-1">
                <label class="ml-3 font-weight-bold">TC:</label>

            </div>
            <div class="col-md-11">
                <input type="text" class="form-control" asp-for="TC" required />
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary w-50 text-center mt-5">Ara</button>
    </div>
    @if (password == Messages.NotMatchInformation)
    {
        <h3 class="alert-danger mt-5 text-center">@password</h3>
    }
    else
    {
        <h3 class="alert-success mt-5 text-center">@password</h3>
    }
</form>
