USE [master]
GO
/****** Object:  Database [GraduateStudentDb]    Script Date: 14.03.2021 10:04:46 ******/
CREATE DATABASE [GraduateStudentDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GraduateStudentDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GraduateStudentDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GraduateStudentDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GraduateStudentDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GraduateStudentDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GraduateStudentDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14.03.2021 10:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 14.03.2021 10:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 14.03.2021 10:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DepartmentYear] [int] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 14.03.2021 10:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[BirthdayDate] [datetime2](7) NOT NULL,
	[TelephoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](75) NULL,
	[IsGraduate] [bit] NOT NULL,
	[GraduateYear] [int] NULL,
	[Password] [nvarchar](20) NULL,
	[RegistrationDate] [datetime2](7) NULL,
	[DepartmentId] [int] NOT NULL,
	[SchoolNumber] [nvarchar](20) NOT NULL,
	[TC] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210220005748_Init', N'2.1.14-servicing-32113')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210220010659_UpdatedTables', N'2.1.14-servicing-32113')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210220021014_TCAndSchoolNumberColumnsAdded', N'2.1.14-servicing-32113')
SET IDENTITY_INSERT [dbo].[Announcements] ON 

SET IDENTITY_INSERT [dbo].[Announcements] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [DepartmentYear]) VALUES (1, N'Bilgisayar Mühendisliği', 4)
INSERT [dbo].[Departments] ([Id], [Name], [DepartmentYear]) VALUES (2, N'Çevre Mühendisliği', 4)
INSERT [dbo].[Departments] ([Id], [Name], [DepartmentYear]) VALUES (4, N'Biyomedikal Mühendisliği', 4)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FullName], [BirthdayDate], [TelephoneNumber], [Email], [IsGraduate], [GraduateYear], [Password], [RegistrationDate], [DepartmentId], [SchoolNumber], [TC]) VALUES (1, N'Mert Furkan Ertürk', CAST(N'1997-11-07T00:00:00.0000000' AS DateTime2), N'342342342', N'meerterturk@gmail.com', 1, 2021, N'12345679', CAST(N'2021-02-20T00:00:00.0000000' AS DateTime2), 1, N'1170606016', N'13432342432')
INSERT [dbo].[Students] ([Id], [FullName], [BirthdayDate], [TelephoneNumber], [Email], [IsGraduate], [GraduateYear], [Password], [RegistrationDate], [DepartmentId], [SchoolNumber], [TC]) VALUES (2, N'Uğur Tuna', CAST(N'1995-12-05T00:00:00.0000000' AS DateTime2), N'423424234', N'ugurtuna@gmail.com', 0, NULL, NULL, NULL, 2, N'1150607016', N'1231231311')
INSERT [dbo].[Students] ([Id], [FullName], [BirthdayDate], [TelephoneNumber], [Email], [IsGraduate], [GraduateYear], [Password], [RegistrationDate], [DepartmentId], [SchoolNumber], [TC]) VALUES (3, N'Yusuf Hancı', CAST(N'1996-11-06T00:00:00.0000000' AS DateTime2), N'132131231', N'yusufhanci@gmail.com', 1, 2020, N'Yusuf123', CAST(N'2021-02-22T00:00:00.0000000' AS DateTime2), 8, N'1141231022', N'3124134324')
SET IDENTITY_INSERT [dbo].[Students] OFF
/****** Object:  Index [IX_Students_DepartmentId]    Script Date: 14.03.2021 10:04:47 ******/
CREATE NONCLUSTERED INDEX [IX_Students_DepartmentId] ON [dbo].[Students]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Departments_DepartmentId]
GO
USE [master]
GO
